:root {
  --hair: #7e3803;
  --skin: #ffc5ab;
  --black: #000000;
  --white: #ffffff;
  --tongue: #d17f95;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peter {
  position: relative;
}

.eye {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--black);
}

.eye-background {
  position: absolute;
  width: 34px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  z-index: -1;
}

.eye-background::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--black);
  top: 14px;
  left: 9px;
  z-index: -2;
}

.eye::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 20px;
  border-top: 1px solid var(--black);
  border-radius: 60% 60% 50% 50%/34% 22% 50% 50%;
  top: 18px;
  left: 1px;
  transform: rotate(-4deg);
  background-color: var(--skin);
  z-index: -1;
}

.eye-right {
  position: absolute;
  left: 47px;
  top: -4px;
}

.glasses-bridge {
  position: absolute;
  width: 14px;
  height: 17px;
  border-radius: 100% 100% 0% 0%/42% 42% 0% 0%;
  border-top: 1px solid var(--black);
  top: 12px;
  left: 34.5px;
  transform: rotate(-5deg);
}

.nose {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--skin);
  border: 1px solid;
  border-color: var(--black) var(--black) var(--black) transparent;
  top: 22px;
  left: 42px;
  transform: rotate(-4deg);
}

.mouth-part-one {
  position: absolute;
  width: 66px;
  height: 21px;
  border-radius: 0% 0% 45% 49%/14% 0% 16% 100%;
  border-bottom: 1px solid var(--black);
  background-color: var(--skin);
  top: 37px;
  z-index: -1;
  left: 11px;
  transform: rotate(-4deg);
}

.mouth-part-one::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 8px;
  border-right: 1px solid var(--black);
  border-radius: 0% 5% 3% 0%/0% 48% 6% 0%;
  left: 55px;
  top: 14px;
  left: 48px;
  transform: rotate(-22deg);
}

.mouth-part-one::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  border-left: 1px solid var(--black);
  border-radius: 35% 0 0 10%/100% 0 0 30%;
  top: 3px;
  left: -16px;
  transform: rotate(62deg);
}

.mouth-part-two {
  position: absolute;
  height: 66px;
  width: 56px;
  border-radius: 41% 0 0 100%/91% 0 0 100%;
  border-left: 1px solid var(--black);
  top: 35px;
  left: -3.5px;
  transform: rotate(-28deg);
  background-color: var(--black);
  z-index: -2;
}

.mouth-part-two::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 12px;
  border-radius: 56% 49% 0 0/51% 45% 38% 9%;
  border-top: 1px solid var(--black);
  top: 69px;
  left: 44px;
  transform: rotate(27deg);
  background-color: var(--skin);
}

.chin {
  position: absolute;
  width: 40px;
  height: 31px;
  border-radius: 13% 10% 65% 65%/28% 28% 100% 100%;
  border: 1px solid var(--black);
  border-top: transparent;
  background-color: var(--skin);
}

.chin-left {
  top: 132px;
  left: 12px;
  transform: rotate(29deg);
}

.chin-right {
  top: 130px;
  left: 58px;
  transform: rotate(-33deg);
}

.chin-line {
  position: absolute;
  width: 26px;
  height: 41px;
  border-left: 1px solid var(--black);
  border-radius: 28% 20% 50% 50%/39% 1% 100% 100%;
  top: 88px;
  left: 80px;
  transform: rotate(22deg);
  background-color: var(--skin);
}

.chin-line::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  border-radius: 0% 39% 10% 10%/0% 69% 47% 69%;
  border-right: 1px solid var(--black);
  top: 39px;
  transform: rotate(-63deg);
  left: 2px;
  background-color: var(--skin);
}

.head-part-one {
  position: absolute;
  width: 76px;
  height: 185px;
  background-color: var(--skin);
  border-radius: 29% 67% 17% 11%/42% 26% 84% 2%;
  z-index: -3;
  border: 1px solid;
  border-color: var(--black) var(--black) transparent transparent;
  top: 15px;
  left: 49px;
}

.head-part-two {
  position: absolute;
  width: 100px;
  height: 27px;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  background-color: var(--skin);
  top: -30px;
  left: -31px;
  z-index: -2;
}

.hair-part-one {
  position: absolute;
  width: 128px;
  height: 61px;
  border-radius: 50% 50% 0 0%/ 100% 100% 0 0%;
  background-color: var(--hair);
  top: -46px;
  left: -45px;
  z-index: -2;
  transform: rotateX(61deg) rotate(2deg);
}

.hair-part-two {
  position: absolute;
  width: 32px;
  height: 17px;
  border-radius: 59% 77% 64% 50%/94% 82% 65% 50%;
  background-color: var(--hair);
  border: 1px solid;
  border-color: var(--black) var(--black) var(--black) transparent;
  top: -12px;
  left: -43px;
  transform: rotate(71deg);
}

.hair-part-two::before {
  content: "";
  position: absolute;
  height: 46px;
  border-left: 1px solid var(--black);
  transform: rotate(33deg);
  top: -17px;
  left: 27px;
}

.ear {
  position: absolute;
  width: 16px;
  height: 22px;
  border: 1px solid var(--black);
  background-color: var(--skin);
  border-radius: 59% 64% 48% 49%/60% 60% 64% 64%;
  left: -46px;
  border-bottom: transparent;
  top: -9px;
  transform: rotate(-25deg);
}

.ear::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 11px;
  border-radius: 0% 30% 20% 0%/0% 66% 50% 0%;
  border-right: 1px solid var(--black);
  left: -2px;
  top: 5px;
  transform: rotate(-2deg);
}

.hair-part-three {
  position: absolute;
  width: 118px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background-color: var(--hair);
  top: -41px;
  left: -42px;
  z-index: -3;
}

.head-part-three {
  position: absolute;
  width: 71px;
  height: 204px;
  border-radius: 54% 40% 20% 50%/50% 5% 50% 50%;
  border-left: 1px solid var(--black);
  background-color: var(--skin);
  left: -81px;
  z-index: -2;
  top: -10px;
  transform: rotate(8deg);
}

.hair-part-four {
  position: absolute;
  width: 93px;
  height: 19px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  background-color: var(--hair);
  border-bottom: 1px solid var(--black);
  z-index: -1;
  left: -28px;
  top: -20px;
}

.hair-part-four::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 9px;
  background-color: var(--hair);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  left: 8px;
  top: -9px;
}

.hair-part-four::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 10px;
  border-top: 1px solid var(--black);
  background-color: var(--skin);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  left: 63px;
  top: 10px;
}

.hair-hide-part-one {
  position: absolute;
  width: 9px;
  height: 20px;
  background-color: var(--hair);
  left: -30px;
  top: -23px;
  transform: rotate(68deg);
}

.hair-hide-part-one::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 3.5px;
  background-color: var(--hair);
  left: -1.5px;
  top: 19px;
  transform: rotate(37deg);
}

.hair-hide-part-two {
  position: absolute;
  width: 18px;
  height: 8px;
  background-color: var(--hair);
  top: -17.8px;
  left: 52px;
  transform: rotate(4deg);
}

.face-hide-part-one {
  position: absolute;
  width: 18px;
  height: 8px;
  background-color: var(--skin);
  top: -3.5px;
  left: -13px;
  transform: rotate(11deg);
}

.face-hide-part-one::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: var(--skin);
  top: -2.9px;
  left: 17.7px;
  transform: rotate(86deg);
}

.face-hide-part-one::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 11px;
  background-color: var(--skin);
  top: 0.5px;
  left: 13.7px;
  transform: rotate(27deg);
}

.face-hide-part-two {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: var(--skin);
  z-index: -3;
  left: -17px;
  top: -1px;
}

.face-hide-part-two::after {
  content: "";
  position: absolute;
  width: 108px;
  height: 133px;
  background-color: var(--skin);
  z-index: -1;
  left: -21px;
  top: 68px;
}

.face-hide-part-three {
  position: absolute;
  width: 13px;
  height: 17px;
  background-color: var(--skin);
  top: 26px;
  left: 29px;
  transform: rotate(38deg);
}

.face-hide-part-four {
  position: absolute;
  width: 4px;
  height: 21px;
  background-color: var(--skin);
  top: -11px;
  left: 36px;
  transform: rotate(80deg);
}

.face-hide-part-four::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 32px;
  background-color: var(--skin);
  top: 7px;
  left: -0.8px;
  transform: rotate(10deg);
}

.hair-part-five {
  position: absolute;
  width: 50px;
  height: 14px;
  background-color: var(--hair);
  top: -33px;
  left: -10px;
}

.hair-part-five::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: var(--skin);
  top: 31px;
  left: 33px;
  z-index: 1;
  transform: rotate(-11.5deg);
}

.collar-left {
  position: absolute;
  width: 161px;
  height: 44px;
  border-radius: 0% 0% 45% 52%/0% 0% 51% 40%;
  border-bottom: 1px solid var(--black);
  top: 141px;
  left: -96px;
  transform: rotate(38deg);
  z-index: 3;
  background-color: var(--skin);
}

.collar-left::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 34px;
  border-radius: 19% 94% 0% 0%/1% 86% 0% 0%;
  border: 1px solid;
  border-color: var(--black) transparent transparent transparent;
  left: 144px;
  top: 28px;
  transform: rotate(-17deg);
}

.collar-right {
  position: absolute;
  width: 80px;
  height: 12px;
  border-radius: 0 0 57% 26%/0 0 91% 22%;
  border: 1px solid;
  border-color: transparent var(--black) var(--black) transparent;
  top: 171px;
  left: 57px;
  transform: rotate(-44deg);
  z-index: 3;
  background-color: var(--skin);
}

.collar-right::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 18px;
  border: 1px solid;
  border-color: var(--black) transparent transparent transparent;
  border-radius: 54% 45% 0 0/22% 26% 0 0;
  top: 11px;
  left: -32px;
  transform: rotate(-15deg);
}

.collar-left-part-two {
  position: absolute;
  width: 50px;
  height: 172px;
  border-radius: 44% 0% 0% 45%/23% 0% 0% 79%;
  border: 1px solid;
  border-color: var(--black) transparent transparent var(--black);
  top: 95px;
  left: -46px;
  transform: rotate(-44deg);
  background: white;
  z-index: 2;
}

.collar-left-part-two::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 53px;
  border-radius: 50%;
  left: 10px;
  top: 145px;
  border: 1px solid;
  border-color: var(--black) transparent transparent transparent;
  transform: rotate(-19deg);
}

.collar-right-part-two {
  position: absolute;
  width: 92px;
  height: 94px;
  border-radius: 0 64% 30% 0/3% 100% 82% 0;
  border: 1px solid;
  border-color: transparent var(--black) transparent transparent;
  top: 124px;
  left: 30px;
  transform: rotate(26deg);
}

.collar-right-part-three {
  position: absolute;
  width: 63px;
  height: 26px;
  background-color: var(--white);
  top: 173px;
  left: 78px;
  transform: rotate(-46deg);
  z-index: -1;
}

.collar-right-part-two::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--black) transparent transparent transparent;
  top: 77px;
  left: 48px;
  transform: rotate(13deg);
}

.face-hide-part-five {
  position: absolute;
  width: 37px;
  height: 38.5px;
  background-color: var(--skin);
  top: 183px;
  z-index: 3;
  left: 33.1px;
  transform: rotate(39deg);
}

.face-hide-part-five::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 9.5px;
  background-color: var(--skin);
  top: 30px;
  left: 3.1px;
  transform: rotate(-13deg);
}

.face-hide-part-five::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 16.5px;
  background-color: var(--skin);
  top: 23px;
  left: 36.5px;
  transform: rotate(-11deg);
}

.face-hide-part-six {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 158px;
  left: -96px;
  background-color: var(--white);
  transform: rotate(45deg);
}

.face-hide-part-seven {
  position: absolute;
  width: 6px;
  height: 12.5px;
  background-color: var(--skin);
  top: 221px;
  left: 51px;
  z-index: 2;
  transform: rotate(-45deg);
  border-radius: 50% 0% 100% 10%/63% 0 57% 0%;
}

.tongue {
  position: absolute;
  width: 29px;
  height: 10px;
  background-color: var(--tongue);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  top: 81.5px;
  left: 1px;
  z-index: -1;
  transform: rotate(35deg);
}

.tongue::after {
  content: "";
  width: 29.1px;
  height: 4px;
  background-color: var(--tongue);
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  top: 9px;
  left: 0px;
  z-index: -1;
  transform: rotate(-180deg);
  position: absolute;
}

.face-hide-part-eight {
  position: absolute;
  width: 10px;
  height: 18px;
  background-color: #ffffff;
  top: -2.5px;
  left: 82px;
}